<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Main Module" >
  <test name="Module1">
  
 
 
      <parameter name="username" value=""/><!-- put receiver mail id -->
            <parameter name="subject" value="automated mail"/>
      <classes>
  
      <class name="Gmail.Gamil_Login"/>
       <class name="Gmail.Gmail_Login1"/>
       
      <class name="Gmail.Gmail_Login2"/>
      <class name="Gmail.Gmail_Login3"/>
      
      <class name="Gmail.Gmail_Login4"/>
      <class name="Gmail.Gmail_Login5"/>
     
    </classes>
  </test> <!-- Module1 -->
</suite> <!-- Main Module -->
